@import url('https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap&subset=cyrillic');

.caveat {
  font-family: 'Caveat', cursive;
}

.container {
  max-width: 720px;
}

header {
  padding: 0 !important;
}

.jumbotron {
  height: 100%;
  color: white;
  background: url(../img/photo/nightsky1.jpg);
  background-size: cover;
  background-position: center;
}

.jumbotron p {
  font-size: 2rem;
}

.social {
  color: white !important;
  font-size: 2rem;
}
